<article class="flex rounded shadow">
  <audio
    [src]="src"
    #player
    (pause)="handlePaused()"
    (ended)="handleEnded()"
  ></audio>
  <div class="bg-purple-900 rounded-tl rounded-bl shadow">
    <div class="h-full p-2">
      <div
        (click)="handleClicked()"
        class="w-12 h-12 rounded-full bg-purple-700 flex justify-center items-center"
      >
        <icon-play *ngIf="!this.isPlaying; else pause"></icon-play>
        <ng-template #pause>
          <icon-pause></icon-pause>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="my-auto mx-4">
    <!-- Coso para el titulo -->
    <h1 class="text-xs font-semibold">Audio #{{ audioNumber }}</h1>
    <p class="font-thin text-lg">{{ title }}</p>
  </div>
</article>
